@model List<Session6Instagram.Models.User>

@{
    ViewBag.Title = "UploadPhoto";
}

<h2>UploadPhoto</h2>

<form action="savephoto" method="post" enctype="multipart/form-data">
    <select name="userId">
        @foreach (var user in Model)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </select>

    <input type="file" name="photo" />
    <input type="text" name="caption" />
    <button type="submit">Done!</button>
</form>
